

.languages {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    font-size: 1.42rem;
}

.otherSkills {
    display: flex;
    align-items: center;
}